USE [master]
GO
/****** Object:  Database [AbdullinDB]    Script Date: 10.11.2024 23:42:45 ******/
CREATE DATABASE [AbdullinDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AbdullinDB_Data', FILENAME = N'D:\sql\MSSQL16.SQLEXPRESS\MSSQL\DATA\AbdullinDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AbdullinDB_Log', FILENAME = N'D:\sql\MSSQL16.SQLEXPRESS\MSSQL\DATA\AbdullinDB.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AbdullinDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AbdullinDB]
GO
/****** Object:  Table [dbo].[Ведомость успеваемости]    Script Date: 10.11.2024 23:42:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ведомость успеваемости](
	[Ведомость_ID] [int] NOT NULL,
	[Группа_ID] [int] NOT NULL,
	[Дисциплина_ID] [int] NOT NULL,
	[Преподаватель_ID] [int] NOT NULL,
	[Учебный год] [int] NULL,
	[Семестр] [int] NULL,
	[Студент_ID] [int] NOT NULL,
	[Оценка] [int] NULL,
 CONSTRAINT [PK_Ведомость успеваемости] PRIMARY KEY CLUSTERED 
(
	[Ведомость_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Студенты]    Script Date: 10.11.2024 23:42:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Студенты](
	[Студент_ID] [int] IDENTITY(1,1) NOT NULL,
	[Группа_ID] [int] NOT NULL,
	[Фамилия] [varchar](50) NULL,
	[Имя] [varchar](50) NULL,
	[Отчество] [varchar](50) NULL,
	[Год рождения] [date] NULL,
	[Пол] [varchar](50) NULL,
	[Адрес] [varchar](50) NULL,
	[Город] [varchar](50) NULL,
	[Телефон] [varchar](12) NULL,
	[Успеваемость] [nvarchar](50) NULL,
	[Фото] [nvarchar](256) NULL,
 CONSTRAINT [PK_Студенты] PRIMARY KEY CLUSTERED 
(
	[Студент_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[FirstView]    Script Date: 10.11.2024 23:42:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[FirstView]
AS
SELECT        dbo.Студенты.Фамилия, dbo.Студенты.Имя, dbo.Студенты.Отчество, dbo.[Ведомость успеваемости].Оценка AS [Оценка студента]
FROM            dbo.[Ведомость успеваемости] INNER JOIN
                         dbo.Студенты ON dbo.[Ведомость успеваемости].Студент_ID = dbo.Студенты.Студент_ID
WHERE        (dbo.[Ведомость успеваемости].Оценка = 5)
GROUP BY dbo.[Ведомость успеваемости].Студент_ID, dbo.[Ведомость успеваемости].Оценка, dbo.Студенты.Фамилия, dbo.Студенты.Имя, dbo.Студенты.Отчество
GO
/****** Object:  View [dbo].[FourthView]    Script Date: 10.11.2024 23:42:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[FourthView]
AS
SELECT Фамилия, Имя, Отчество, Пол, [Год рождения], Телефон, Адрес
FROM dbo.Студенты
WHERE (Пол LIKE 'ж')
GROUP BY Фамилия, Имя, Отчество, Пол, Телефон, [Год рождения], Адрес
GO
/****** Object:  Table [dbo].[Дисциплины]    Script Date: 10.11.2024 23:42:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Дисциплины](
	[Дисциплина_ID] [int] IDENTITY(1,1) NOT NULL,
	[Кафедра_ID] [int] NOT NULL,
	[Преподаватель_ID] [int] NOT NULL,
	[Название дисциплины] [varchar](50) NULL,
	[Часовка] [int] NULL,
	[Форма контроля] [varchar](10) NULL,
 CONSTRAINT [PK_Дисциплины] PRIMARY KEY CLUSTERED 
(
	[Дисциплина_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Преподаватели]    Script Date: 10.11.2024 23:42:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Преподаватели](
	[Преподаватель_ID] [int] IDENTITY(1,1) NOT NULL,
	[Кафедра_ID] [int] NOT NULL,
	[ФИО] [varchar](50) NULL,
	[Должность] [varchar](50) NULL,
	[Научное звание] [varchar](50) NULL,
	[Ставка] [decimal](18, 1) NULL,
	[Стаж работы] [decimal](18, 1) NULL,
	[Адрес проживания] [text] NULL,
	[Возраст] [int] NULL,
 CONSTRAINT [PK_Преподаватели] PRIMARY KEY CLUSTERED 
(
	[Преподаватель_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[SecondView]    Script Date: 10.11.2024 23:42:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SecondView]
AS
SELECT        dbo.Преподаватели.ФИО, dbo.Дисциплины.[Название дисциплины], dbo.Дисциплины.Часовка AS [Наибольшие часы]
FROM            dbo.Дисциплины INNER JOIN
                         dbo.Преподаватели ON dbo.Дисциплины.Преподаватель_ID = dbo.Преподаватели.Преподаватель_ID
WHERE        (dbo.Дисциплины.Часовка = 240)
GROUP BY dbo.Дисциплины.Преподаватель_ID, dbo.Дисциплины.[Название дисциплины], dbo.Дисциплины.Часовка, dbo.Преподаватели.ФИО
GO
/****** Object:  View [dbo].[ThirdView]    Script Date: 10.11.2024 23:42:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ThirdView]
AS
SELECT ФИО, Возраст, [Стаж работы], 
[Научное звание], Должность
FROM Преподаватели
WHERE (NOT (Должность = 'Научный сотрудник'))
GROUP BY ФИО, Возраст, [Стаж работы], [Научное звание], Должность
HAVING (Возраст > 45)
GO
/****** Object:  Table [dbo].[Кафедры]    Script Date: 10.11.2024 23:42:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Кафедры](
	[Кафедра_ID] [int] IDENTITY(1,1) NOT NULL,
	[Факультет_ID] [int] NOT NULL,
	[Название кафедры] [text] NULL,
	[ФИО заведующего] [text] NULL,
	[Номер комнаты] [text] NULL,
	[Номер корпуса] [text] NULL,
	[Телефон кафедры] [varchar](20) NULL,
	[Кол-во преподавателей] [int] NULL,
 CONSTRAINT [PK_Кафедры] PRIMARY KEY CLUSTERED 
(
	[Кафедра_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Учебные группы]    Script Date: 10.11.2024 23:42:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Учебные группы](
	[Группа_ID] [int] IDENTITY(1,1) NOT NULL,
	[Кафедра_ID] [int] NOT NULL,
	[Название группы] [text] NULL,
	[Год поступления] [date] NULL,
	[Курс обучения] [int] NULL,
	[Кол-во студентов в группе] [int] NULL,
 CONSTRAINT [PK_Учебные группы] PRIMARY KEY CLUSTERED 
(
	[Группа_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Факультеты]    Script Date: 10.11.2024 23:42:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Факультеты](
	[Факультет_ID] [int] IDENTITY(1,1) NOT NULL,
	[Название факультета] [nvarchar](50) NULL,
	[ФИО декана] [text] NULL,
	[Номер комнаты] [text] NULL,
	[Номер корпуса] [varchar](50) NULL,
	[Телефон деканата] [varchar](20) NULL,
 CONSTRAINT [PK_Факультеты] PRIMARY KEY CLUSTERED 
(
	[Факультет_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Ведомость успеваемости] ([Ведомость_ID], [Группа_ID], [Дисциплина_ID], [Преподаватель_ID], [Учебный год], [Семестр], [Студент_ID], [Оценка]) VALUES (10, 3, 2, 1, 1, 2, 6, 4)
INSERT [dbo].[Ведомость успеваемости] ([Ведомость_ID], [Группа_ID], [Дисциплина_ID], [Преподаватель_ID], [Учебный год], [Семестр], [Студент_ID], [Оценка]) VALUES (13, 4, 3, 2, 1, 2, 7, 5)
INSERT [dbo].[Ведомость успеваемости] ([Ведомость_ID], [Группа_ID], [Дисциплина_ID], [Преподаватель_ID], [Учебный год], [Семестр], [Студент_ID], [Оценка]) VALUES (15, 5, 4, 3, 1, 2, 8, 3)
GO
SET IDENTITY_INSERT [dbo].[Дисциплины] ON 

INSERT [dbo].[Дисциплины] ([Дисциплина_ID], [Кафедра_ID], [Преподаватель_ID], [Название дисциплины], [Часовка], [Форма контроля]) VALUES (2, 3, 1, N'Авиастроение', 120, N'экзамен')
INSERT [dbo].[Дисциплины] ([Дисциплина_ID], [Кафедра_ID], [Преподаватель_ID], [Название дисциплины], [Часовка], [Форма контроля]) VALUES (3, 4, 2, N'Гидромеханика', 60, N'зачет')
INSERT [dbo].[Дисциплины] ([Дисциплина_ID], [Кафедра_ID], [Преподаватель_ID], [Название дисциплины], [Часовка], [Форма контроля]) VALUES (4, 5, 3, N'Материаловедение', 80, N'зачет')
SET IDENTITY_INSERT [dbo].[Дисциплины] OFF
GO
SET IDENTITY_INSERT [dbo].[Кафедры] ON 

INSERT [dbo].[Кафедры] ([Кафедра_ID], [Факультет_ID], [Название кафедры], [ФИО заведующего], [Номер комнаты], [Номер корпуса], [Телефон кафедры], [Кол-во преподавателей]) VALUES (3, 4, N'Кафедра авиационных двигателей', N'Андреева Лидия Тимофеевна', N'103-4', N'4', N'+79513430345', 2)
INSERT [dbo].[Кафедры] ([Кафедра_ID], [Факультет_ID], [Название кафедры], [ФИО заведующего], [Номер комнаты], [Номер корпуса], [Телефон кафедры], [Кол-во преподавателей]) VALUES (4, 4, N'Кафедра прикладной гидромеханики', N'Ильинская Софья Артёмовна', N'105-4', N'4', N'+79265680117', 2)
INSERT [dbo].[Кафедры] ([Кафедра_ID], [Факультет_ID], [Название кафедры], [ФИО заведующего], [Номер комнаты], [Номер корпуса], [Телефон кафедры], [Кол-во преподавателей]) VALUES (5, 4, N'Кафедра сопротивления материалов', N'Морозов Илья Владимирович', N'101-4', N'4', N'+79236653849', 3)
SET IDENTITY_INSERT [dbo].[Кафедры] OFF
GO
SET IDENTITY_INSERT [dbo].[Преподаватели] ON 

INSERT [dbo].[Преподаватели] ([Преподаватель_ID], [Кафедра_ID], [ФИО], [Должность], [Научное звание], [Ставка], [Стаж работы], [Адрес проживания], [Возраст]) VALUES (1, 3, N'Карасева Анастасия Максимовна', N'Профессор', N'Магистр', CAST(1.0 AS Decimal(18, 1)), CAST(2.5 AS Decimal(18, 1)), N'г. Уфа, ул. Матросова, 6, кв. 77', 31)
INSERT [dbo].[Преподаватели] ([Преподаватель_ID], [Кафедра_ID], [ФИО], [Должность], [Научное звание], [Ставка], [Стаж работы], [Адрес проживания], [Возраст]) VALUES (2, 4, N'Денисов Марк Тигранович', N'Профессор', N'Магистр', CAST(1.3 AS Decimal(18, 1)), CAST(7.1 AS Decimal(18, 1)), N'г. Уфа, ул. Победы, 44, кв. 90', 46)
INSERT [dbo].[Преподаватели] ([Преподаватель_ID], [Кафедра_ID], [ФИО], [Должность], [Научное звание], [Ставка], [Стаж работы], [Адрес проживания], [Возраст]) VALUES (3, 5, N'Руднева Яна Платоновна', N'Преподаватель', N'Бакалавр', CAST(1.0 AS Decimal(18, 1)), CAST(3.9 AS Decimal(18, 1)), N'г. Уфа, ул. 1 Мая, 45, кв. 95', 52)
SET IDENTITY_INSERT [dbo].[Преподаватели] OFF
GO
SET IDENTITY_INSERT [dbo].[Студенты] ON 

INSERT [dbo].[Студенты] ([Студент_ID], [Группа_ID], [Фамилия], [Имя], [Отчество], [Год рождения], [Пол], [Адрес], [Город], [Телефон], [Успеваемость], [Фото]) VALUES (7, 4, N'Николаевa
', N'София
', N'Тимофеевна
', CAST(N'2005-12-26' AS Date), N'жен', N'ул. Куйбышева, 41, кв. 57', N'Уфа', N'+74300579007', N'Отличник', N'Resources/9.jpg')
INSERT [dbo].[Студенты] ([Студент_ID], [Группа_ID], [Фамилия], [Имя], [Отчество], [Год рождения], [Пол], [Адрес], [Город], [Телефон], [Успеваемость], [Фото]) VALUES (8, 5, N'Корчагин
', N'Михаил
', N'Ильич
', CAST(N'2003-11-28' AS Date), N'муж', N'ул. Лесная, 19, кв. 24', N'Уфа', N'+78622119083', N'Отличник', N'Resources/19.jpg')
INSERT [dbo].[Студенты] ([Студент_ID], [Группа_ID], [Фамилия], [Имя], [Отчество], [Год рождения], [Пол], [Адрес], [Город], [Телефон], [Успеваемость], [Фото]) VALUES (9, 6, N'Ларина
', N'Мария
', N'Андреевна
', CAST(N'2004-01-24' AS Date), N'жен', N'ул. Колхозная, 9, кв. 52', N'Уфа', N'+74416094896', N'Отличник', N'Resources/10.jpg')
SET IDENTITY_INSERT [dbo].[Студенты] OFF
GO
SET IDENTITY_INSERT [dbo].[Учебные группы] ON 

INSERT [dbo].[Учебные группы] ([Группа_ID], [Кафедра_ID], [Название группы], [Год поступления], [Курс обучения], [Кол-во студентов в группе]) VALUES (3, 3, N'АД-11', CAST(N'2023-01-09' AS Date), 1, 30)
INSERT [dbo].[Учебные группы] ([Группа_ID], [Кафедра_ID], [Название группы], [Год поступления], [Курс обучения], [Кол-во студентов в группе]) VALUES (4, 4, N'ПГ-11', CAST(N'2023-01-09' AS Date), 1, 25)
INSERT [dbo].[Учебные группы] ([Группа_ID], [Кафедра_ID], [Название группы], [Год поступления], [Курс обучения], [Кол-во студентов в группе]) VALUES (5, 5, N'СМ-11', CAST(N'2023-01-09' AS Date), 1, 25)
SET IDENTITY_INSERT [dbo].[Учебные группы] OFF
GO
SET IDENTITY_INSERT [dbo].[Факультеты] ON 

INSERT [dbo].[Факультеты] ([Факультет_ID], [Название факультета], [ФИО декана], [Номер комнаты], [Номер корпуса], [Телефон деканата]) VALUES (1, N'Институт экономики и управления УГАТУ', N'Титова Ульяна Тимуровна', N'101-1', N'1', N'+79272385144')
INSERT [dbo].[Факультеты] ([Факультет_ID], [Название факультета], [ФИО декана], [Номер комнаты], [Номер корпуса], [Телефон деканата]) VALUES (2, N'Общенаучный факультет УГАТУ', N'Зайцев Георгий Алексеевич', N'101-2', N'2', N'+78239403240')
INSERT [dbo].[Факультеты] ([Факультет_ID], [Название факультета], [ФИО декана], [Номер комнаты], [Номер корпуса], [Телефон деканата]) VALUES (3, N'Факультет авиационно-технологических систем УГАТУ', N'Зимин Максим Арсентьевич', N'203-3', N'2', N'+79271042945')
SET IDENTITY_INSERT [dbo].[Факультеты] OFF
GO
ALTER TABLE [dbo].[Ведомость успеваемости]  WITH CHECK ADD  CONSTRAINT [FK_Ведомость успеваемости_Дисциплины1] FOREIGN KEY([Дисциплина_ID])
REFERENCES [dbo].[Дисциплины] ([Дисциплина_ID])
GO
ALTER TABLE [dbo].[Ведомость успеваемости] CHECK CONSTRAINT [FK_Ведомость успеваемости_Дисциплины1]
GO
ALTER TABLE [dbo].[Ведомость успеваемости]  WITH CHECK ADD  CONSTRAINT [FK_Ведомость успеваемости_Преподаватели1] FOREIGN KEY([Преподаватель_ID])
REFERENCES [dbo].[Преподаватели] ([Преподаватель_ID])
GO
ALTER TABLE [dbo].[Ведомость успеваемости] CHECK CONSTRAINT [FK_Ведомость успеваемости_Преподаватели1]
GO
ALTER TABLE [dbo].[Ведомость успеваемости]  WITH CHECK ADD  CONSTRAINT [FK_Ведомость успеваемости_Учебные группы4] FOREIGN KEY([Группа_ID])
REFERENCES [dbo].[Учебные группы] ([Группа_ID])
GO
ALTER TABLE [dbo].[Ведомость успеваемости] CHECK CONSTRAINT [FK_Ведомость успеваемости_Учебные группы4]
GO
ALTER TABLE [dbo].[Дисциплины]  WITH CHECK ADD  CONSTRAINT [FK_Дисциплины_Кафедры] FOREIGN KEY([Кафедра_ID])
REFERENCES [dbo].[Кафедры] ([Кафедра_ID])
GO
ALTER TABLE [dbo].[Дисциплины] CHECK CONSTRAINT [FK_Дисциплины_Кафедры]
GO
ALTER TABLE [dbo].[Кафедры]  WITH CHECK ADD  CONSTRAINT [FK_Кафедры_Факультеты] FOREIGN KEY([Факультет_ID])
REFERENCES [dbo].[Факультеты] ([Факультет_ID])
GO
ALTER TABLE [dbo].[Кафедры] CHECK CONSTRAINT [FK_Кафедры_Факультеты]
GO
ALTER TABLE [dbo].[Преподаватели]  WITH CHECK ADD  CONSTRAINT [FK_Преподаватели_Кафедры] FOREIGN KEY([Кафедра_ID])
REFERENCES [dbo].[Кафедры] ([Кафедра_ID])
GO
ALTER TABLE [dbo].[Преподаватели] CHECK CONSTRAINT [FK_Преподаватели_Кафедры]
GO
ALTER TABLE [dbo].[Студенты]  WITH CHECK ADD  CONSTRAINT [FK_Студенты_Учебные группы] FOREIGN KEY([Группа_ID])
REFERENCES [dbo].[Учебные группы] ([Группа_ID])
GO
ALTER TABLE [dbo].[Студенты] CHECK CONSTRAINT [FK_Студенты_Учебные группы]
GO
ALTER TABLE [dbo].[Учебные группы]  WITH CHECK ADD  CONSTRAINT [FK_Учебные группы_Кафедры] FOREIGN KEY([Кафедра_ID])
REFERENCES [dbo].[Кафедры] ([Кафедра_ID])
GO
ALTER TABLE [dbo].[Учебные группы] CHECK CONSTRAINT [FK_Учебные группы_Кафедры]
GO
ALTER TABLE [dbo].[Ведомость успеваемости]  WITH CHECK ADD  CONSTRAINT [Оценка] CHECK  (([Оценка]>=(2) AND [Оценка]<=(5)))
GO
ALTER TABLE [dbo].[Ведомость успеваемости] CHECK CONSTRAINT [Оценка]
GO
ALTER TABLE [dbo].[Ведомость успеваемости]  WITH CHECK ADD  CONSTRAINT [Семестр] CHECK  (([Семестр]>=(1) AND [Семестр]<=(10)))
GO
ALTER TABLE [dbo].[Ведомость успеваемости] CHECK CONSTRAINT [Семестр]
GO
ALTER TABLE [dbo].[Дисциплины]  WITH CHECK ADD  CONSTRAINT [Форма контроля] CHECK  (([Форма контроля]='зачет' OR [Форма контроля]='экзамен'))
GO
ALTER TABLE [dbo].[Дисциплины] CHECK CONSTRAINT [Форма контроля]
GO
ALTER TABLE [dbo].[Кафедры]  WITH CHECK ADD  CONSTRAINT [Телефон кафедры] CHECK  (([Телефон кафедры] like '+7[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Кафедры] CHECK CONSTRAINT [Телефон кафедры]
GO
ALTER TABLE [dbo].[Студенты]  WITH CHECK ADD  CONSTRAINT [Телефон] CHECK  (([Телефон] like '+7[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Студенты] CHECK CONSTRAINT [Телефон]
GO
ALTER TABLE [dbo].[Факультеты]  WITH CHECK ADD  CONSTRAINT [Телефон деканата] CHECK  (([Телефон деканата] like '+7[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Факультеты] CHECK CONSTRAINT [Телефон деканата]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[22] 4[20] 2[0] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Ведомость успеваемости"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 227
            End
            DisplayFlags = 280
            TopColumn = 4
         End
         Begin Table = "Студенты"
            Begin Extent = 
               Top = 6
               Left = 265
               Bottom = 136
               Right = 439
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1560
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 1710
         Table = 2430
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'FirstView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'FirstView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[28] 4[18] 2[0] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Дисциплины"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 252
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "Преподаватели"
            Begin Extent = 
               Top = 6
               Left = 290
               Bottom = 136
               Right = 484
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 2775
         Width = 2220
         Width = 3465
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 2220
         Alias = 900
         Table = 1500
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SecondView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SecondView'
GO
USE [master]
GO
